body {
  height: 90vh;
  max-height: 98vh;
}

.wrapper {
  min-width: 100%;
  min-height: 98vh;
}

.container {
  display: grid;
  height: 98vh;
  width: 100%;
  gap: 1%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 0.2fr 3fr 0.2fr;
  grid-template-areas:
     "nav"
     "notifications"
     "display"
     "footer";
}

.nav {
  grid-area: nav;
  display: grid;
  height: 100%;
  width: 100%;
  gap: 1%;
  grid-template-columns: 1fr 1fr 0.3fr;
  grid-template-rows: 1fr;
}

.notifications {
  grid-area: notifications;
  text-align: center;
}

.display {
  grid-area: display;
  overflow: auto;
}

.properties {
  display: grid;
  text-align: center;
  gap: 3%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  /* height: 1000px; */         
  
}

.property {
  background-color: rgb(223, 244, 250);
  margin: 10px;
  border-style: solid !important;
  border: rgb(177, 241, 252);
  width: 200px;
  height: 300px;
}

.footer {
  grid-area: footer;
  background-color: darksalmon;
}

.menu-left {
  display: grid;
}

.menu-left-cont {
  text-align: center;
  display: grid;
  gap: 4%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.menu-right-cont {
  display: grid;
  gap: 4%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "menu-right-login-logout"
    "menu-right-register"
    "menu-right-review";
}

.menu-right {
  display: grid;
}

.menu-right-login-logout {
  grid-area: menu-right-login-logout;
}

.menu-right-register {
  grid-area: menu-right-register;
}

.menu-right-review {
  grid-area: menu-right-review;
}

.logo {
  background-image: url("./images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}