body {
  height: 90vh;
  max-height: 98vh;
  background-image:url("./images/rentscapeBackground.png");
  background-repeat: repeat-y;
  background-size: cover;
}

.wrapper {
  min-width: 100%;
  min-height: 98vh;
  display: grid;
  height: 98vh;
  width: 100%;
  gap: 1%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 0.1fr 3fr 0.1fr;
  grid-template-areas:
     "nav"
     "notifications"
     "display"
     "footer";
}

.nav {
  grid-area: nav;
  display: grid;
  height: 100%;
  width: 100%;
  gap: 1%;
  grid-template-columns: 1fr 0.3fr;
  grid-template-rows: 1fr;
}

.menu-search-label {
  background-color: rgb(255, 255, 255, 0.3);
  
}

.home-button {
  display: block;
  margin-left: auto;
  text-align:center;
  width: 10vw;
  height: 3vh;
}

.notifications {
  grid-area: notifications;
  text-align: center;
  box-shadow: 5px 5px 12px rgb(255, 255, 255);
  background-color: rgb(223, 244, 250, 0.5);
  height: fit-content;
  min-height: 4vh;
  
}
p {  margin-top: 0.4em; margin-bottom: 0.4em; }

.display {
  grid-area: display;
  overflow: auto;
  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: 5px 5px 12px rgb(255, 255, 255);
}

.properties {
  display: grid;
  text-align: center;
  gap: 8%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.new-property-form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 7%;
  
}

.error-display {
  background-color: rgba(255, 204, 0, 0.4);
}

.new-property-fields {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.flip-property {
  background-color: transparent;
  width: auto;
  height: 200px;
  perspective: 1000px;
}


.flip-property-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-property:hover .flip-property-inner {
  transform: rotateY(180deg);
}

.flip-property-front, .flip-property-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-property-front {
  background-color: rgb(185, 216, 228);
  color: rgb(0, 0, 0);
  background-size:auto;
  background-position: center;
  background-blend-mode:soft-light
}

.flip-property-back {
  color: white;
  transform: rotateY(180deg);
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

.flip-property-back-button {
  display: flex;
  justify-content:center;
  align-items: flex-end;
  width: inherit;
  height: inherit;
} 

.flip-property-image {
  height: 100%;
  width: 100%;
  object-fit: contain
}

.property-card-link {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  text-align: center;
}

.card-title {
  color: #ffffff;
  background-color: rgba(66, 164, 224, 0.9);
}

.property-show {
  width: auto;
  display: grid;
  text-align: center;
  gap: 3%;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr auto 0.2fr;
  grid-template-areas:
     "property-show-info property-show-image"
     "property-show-info property-show-image"
     "property-show-review-container property-show-review-container"
     ". property-show-delete-form"
}

.property-show-title {
  background-color: rgba(1, 82, 145, 0.6);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 12px rgb(255, 255, 255);
}

.property-show-data {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: 5px 5px 12px rgb(255, 255, 255);
}

.property-show-info {
  grid-area: property-show-info;
  margin-left: 5vw;
}

ul {
  list-style-type: none;
  padding: 0;
}

.property-show-image {
  grid-area: property-show-image;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 70vh;
  max-width: 80vw;
  height: auto;
  width: auto;
}

.property-show-review-container {
  grid-area: property-show-review-container;
}

.property-show-review {
  background-color: lightcoral;
  margin-right: 30vw;
  margin-left: 30vw;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 1px;
  box-shadow: 5px 5px 12px rgb(255, 255, 255);
  background-color: rgb(223, 244, 250, 0.5);
}

.property-show-review-title {
  color: #ffffff;
  background-color: rgba(1, 82, 145, 0.6);
}

.property-show-delete-form {
  grid-area: property-show-delete-form;
  text-align: right;
  padding-bottom: 20px;
  margin-right: 10px;
}

.footer {
  grid-area: footer;
  text-align: center;
  box-shadow: 5px 5px 12px rgb(255, 255, 255);
  background-color: rgb(223, 244, 250, 0.5);
}

.menu-search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 0.3fr 0.3fr;
  text-align: center;
}

.about {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  overflow: scroll;
  padding-right: 15px;
  padding-left: 15px;
  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: 5px 5px 12px rgb(255, 255, 255);
}

.logo {
  background-image: url("./images/logo.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: left;
}